.albumListing {
  background-color: #EFEFEF;
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 8px;
  width: 500px;
  height: auto;
  display: flex;
  margin: 10px 0;
  align-items: center; }

.albumListing-image {
  background-color: #4A90E2;
  border-radius: 8px 0px 0px 8px;
  padding: 25px;
  justify-content: center;
  align-content: center; }
  .albumListing-image img {
    width: 150px;
    height: auto;
    border: 5px solid #000; }

.albumListing-text {
  padding-left: 12px;
  width: 100%;
  height: auto;
  align-content: center; }

.albumTitle {
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px; }
